In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

<img style="float:left" src="https://i.imgur.com/DWQOJgU.png" width="1500">

 <h1 style="text-alignment:justify">NYC Citibike Trips</h1>
<hr>
31 July 2023

<div>
<img style="float: left" src="https://i.postimg.cc/qvZpHzhk/002-Img-Objectives-Draft-2-20220819.png(https://postimg.cc/cvYpQ1Bj)" width="75">
<h2 id="Obj1">Objectives</h2>
<hr>

<h3 style="text-align:justify">In this project, we will walk through the Data Analytics process, starting from data acquisition and analysis, to gaining business insights and creating models using BigQuery with SQL and Python. The case study will showcase data analyst, business intelligence, and data science analyses to acquire valuable business insights.
<br><br>
The New York Citibike Cyclistic's Customer Growth Team is developing a business plan for the next year (2016). Therefore, the case study will only utilize data from 2014 and 2015. The team's primary objective is to understand how their customers are using their bikes, with a focus on identifying customer demand at different station locations. The key question is: How can we apply customer usage insights to inform new station growth?<br><br>
Starting the first part (P01) we will clean the data, then part 2 (P02), we will concentrate on data mining, and part 3 (P03) we will continue creating predictive models on the demand side. The goal of data cleaning is to prepare the raw data for analysis by identifying and rectifying any errors, inconsistencies, or inaccuracies present in the dataset. The dataset will be used to develop machine learning models that predict Citibike total trips or trip durations based on location and time of day.
</h3> 
<p style = "font-family: Arial; font-size: 18px">Note: This project's dataset was created for pedagogical purposes and may not represent real-world data. The project consists of multiple notebook parts, focusing on combining data from various tables and conducting data analysis and prediction to acquire valuable insights.</p>    
</div>

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Remember:</b><p style = "font-family:Verdana; font-size:14px">We must be <b>objective</b> in analyzing the data in order to acquire valuable insights and understand it by collecting, fact checking or challenging the data and other sources. Go to where the data - Genchi Genbutsu attitudes. Data must be <b>Clear, Objective, Valuable, Focus, Agile, Scientific and Timeframe (COV-FAST)</b></p>
    <p style = "font-family:Verdana; font-size:14px">There are methodologies to be considered logistic regression, random forest or neural networking. We can use the same preprocessing dataset and try each options methodologies in seperate notebooks</p>
</div>
    <h3>Methodologies Overview</h3>
<h3>Data Analysis PACE Steps:</h3>
   <ol style="font-family:Verdana; font-size:16px">
    <li><img style="float:left" src="https://i.imgur.com/gIne5bH.png" width="50"> Define (Plan & Analyze - EDA) - PART 1</li> 
    <blockquote>
    <ol>Understand your data in the problem context
        <br>EDA - check model, assumption & select model
    </ol>
    </blockquote>
        <li><img style="float:left" src="https://i.imgur.com/rb8V6X5.png" width="50">Measure (Analyze - EDA)</li>
    <blockquote>
    <ol> EDA - check model, assumption & select model
     </ol>
    </blockquote>
    <li><img style="float:left" src="https://i.imgur.com/J4M3HKM.png" width="50">Analyze (Construct) </li>
    <blockquote>
    <ol>Contruct and evaluate model
     </ol>
    </blockquote>
    <li><img style="float:left" src="https://i.imgur.com/wpcEXQC.png" width="50">Improve (Execute) - interpret model and share the story</li>
    <br>
    <li>Control</li>

# Methodologies Overview
<hr>

<h3 style = "text-align:center">Table 1.1. DMAIC vs Data Analytics Methodologies (Define)</h3>
<table style="color:black;
           display:fill;
           border-colapse: colapse;
           width: 100%;
           border: 1px solid black;
           border-collapse: collapse;
           border-style: solid;
           border-radius:5px;
           background-color:#5642C5;
           font-size:110%;
           font-family:Verdana;
           letter-spacing:0.5px">
  <tr>
    <th colspan="5">Six Sigma DMAIC 12 Steps</th>
  </tr>
    
  <tr>
        <th colspan="2"><em>Define</em></th>
    <th colspan="3">Customer expectations of the process? </th>
  </tr>
    
  <tr>
    <th>Steps</th>
    <th>Description</th>
    <th>Focus</th>
    <th>Tools</th>
    <th>Timeline</th>
  </tr>
    
  <tr>
    <td style ="text-align:left" >A
      </td>
    <td>Identify Project's CTQ</td>
    <td style = "text-align:center">      
      Y 
    </td>
    <td style ="text-align:left">
      CTQ drill down tree, 
        VOC, Pareto, Bar Chart 
    </td>
      <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
  <tr>
    <td style ="text-align:left" >B
      </td>
    <td>Define Process Mapping</td>
    <td style = "text-align:center">      
     Y
    </td>
    <td style ="text-align:left">
     SIPOC
    </td>
    <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
  <tr>
    <td style ="text-align:left" >C
      </td>
    <td>Establish The Team's Charter</td>
    <td style = "text-align:center">      
     Y
    </td>
    <td style ="text-align:left">
     Milestones, Team Members, Stakeholders, Project Charter 
    </td>
    <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
<tr style = "border-top: solid ">
    <th colspan="5">Data Analytics 6 Steps - Project Initiation and Planning Phase</th>
  </tr>
    
 <tr>
        <th colspan="2"><em>Ask and Prepare</em></th>
    <th colspan="3">Customer expectations of the process? </th>
 </tr>
    
  <tr>
    <th>Steps</th>
    <th>Description</th>
    <th>Focus</th>
    <th>Tools</th>
    <th>Timeline</th>
  </tr>
    
  <tr>
    <td style ="text-align:left" >Ask - Mining
      </td>
    <td>A Clear Statement of The Business Task</td>
    <td style = "text-align:center">      
      Y 
    </td>
    <td style ="text-align:left">
      CTQ drill down tree, 
        VOC, Pareto, Bar Chart  
    </td>
    <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
  <tr>
    <td style ="text-align:left" >Ask - Mining
      </td>
    <td>Mapping Key Stakholders</td>
    <td style = "text-align:center">      
     Y
    </td>
    <td style ="text-align:left">
     RACI Matrix
    </td>
    <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
  <tr>
    <td style ="text-align:left" >Prepare
      </td>
    <td>A Description of All Data Used</td>
    <td style = "text-align:center">      
     Y
    </td>
    <td style ="text-align:left">
     Data Preparation or Mining 
    </td>
    <td style ="text-align:center">
      3 - 5 days 
    </td>
  </tr>
    
 </table>

<img style="float:left" src="https://i.imgur.com/gIne5bH.png" width="80">

# Import the relevant libraries

In [ ]:
# For data from Big Query
from google.cloud import bigquery

# For data visualization
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# For displaying all of the columns in dataframes
pd.set_option('display.max_columns', None)

# For geomap 
from geopy.geocoders import Nominatim

## Preprocessing
### Load info

In [ ]:
raw_data=pd.read_csv('/kaggle/input/citibike-sampled-data-2013-2017/citibike-trips.csv')

In [ ]:
df = raw_data.copy()

In [ ]:
df.head()

In [ ]:
df.describe(include='all').transpose()

In [ ]:
df.info()

#### Change date columns format from object to datetime

In [ ]:
# Packages for date conversions for calculating trip durations
from datetime import datetime
from datetime import date
from datetime import timedelta

In [ ]:
type(df['starttime'][0])

In [ ]:
# Get the date
df['date'] = df['starttime'].apply(lambda date: date[:10]) #take 0-10 which is Date str

In [ ]:
# Create and Convert 'Date' column to datetime format
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [ ]:
# Check names in the columns
df.columns

#### Re-arrange column

In [ ]:
rename_column = {
    'tripduration':'trip_duration',
    'starttime' : 'start_time',
    'stoptime' : 'stop_time',
    'usertype': 'user_type',
    'bikeid': 'bike_id',
    'gender' : 'sex'}

In [ ]:
df.rename(columns=rename_column, inplace=True)

In [ ]:
df.columns.values

In [ ]:
column_names = ['user_type', 'bike_id', 'trip_duration','date','start_time', 'start_station_id', 
                'start_station_name', 'start_station_latitude','start_station_longitude', 'stop_time', 
                'end_station_id', 'end_station_name', 'end_station_latitude', 'end_station_longitude',
                'birth_year', 'sex', 'customer_plan']

# Reorder the columns using `reindex()`
df = df.reindex(columns=column_names)

# Display the DataFrame with the updated column order
df.head()

#### Change the starttime and stoptime data from object into datetime

In [ ]:
type(df['start_time'][0])

In [ ]:
# Convert `start` to datetime format
df['start_time']=pd.to_datetime(df['start_time'])

# Convert `stop` to datetime format
df['stop_time']=pd.to_datetime(df['stop_time'])

# Compute `trip_duration` in minutes
df["trip_duration"] = df["trip_duration"]/60


# Get the year range
min_year = df['start_time'].dt.year.min()
max_year = df['stop_time'].dt.year.max()

print(f"The year range in the DataFrame is from {min_year} to {max_year}.")

In [ ]:
df.info()

#### Acquire data between 2014 and November 2015

In [ ]:
# Filter the DataFrame to include only the data between 2014 and 2015
#start_date = pd.to_datetime('2014-01-01')
#end_date = pd.to_datetime('2015-11-30')

# Filter the DataFrame to include only the data between 2014 and 2015
df = df[(df['start_time'] >= '2014-01-01') & (df['stop_time'] <= '2015-11-30')]

In [ ]:
# Get the year range
min_year = df['start_time'].dt.year.min()
max_year = df['start_time'].dt.year.max()

print(f"The year range in the DataFrame is from {min_year} to {max_year}.")

In [ ]:
# Save the filtered DataFrame to a CSV file
df.to_csv('NYC_trip_data_2014_2015.csv', index=False)

In [ ]:
df.info()

<div class="alert alert-block alert-info">
<img style="float: left" src="https://i.imgur.com/HVpiyd6.png[/img" width="60">
<b style = "font-family: Arial; font-size: 16px">Station:</b><p style = "font-family:Verdana; font-size:14px">The raw data consists of entries from 2013 to 2017, totaling 473,556 records, and consuming 61.4 MB of memory. For this project, we have narrowed down our analysis to utilize data from 2014 to November 2015, which comprises 171,386 entries and occupies 23.5 MB of memory. The decision to use data until November 2015 is because we are approaching the end of the year and preparing to create the business plan for 2016.</p>
</div>

In [ ]:
# Filter the DataFrame to include only the data in 2014
# start_date = pd.to_datetime('2014-01-01')
# end_date = pd.to_datetime('2014-12-31')
df_2014 = df[(df['start_time'] >= '2014-01-01') & (df['stop_time'] <= '2014-12-31')]

In [ ]:
#The stations in 2014
stations_2014 = df_2014['start_station_name'].nunique()
print(f"Number of stations in 2014: {stations_2014}")

#### Stations in 2013

In [ ]:
raw_data

In [ ]:
# Convert the date column to datetime data type
raw_data['starttime'] = pd.to_datetime(raw_data['starttime'])
raw_data['stoptime'] = pd.to_datetime(raw_data['stoptime'])

# Filter the DataFrame to include only the data in 2014
start_date = pd.to_datetime('2013-01-01')
end_date = pd.to_datetime('2013-12-31')
df_2013 = raw_data[(raw_data['starttime'] >= start_date) & (raw_data['stoptime'] <= end_date)]

In [ ]:
#The stations in 2013
stations_2013 = df_2013['start_station_name'].nunique()
print(f"Number of stations in 2013: {stations_2013}")

#### Stations in 2015

In [ ]:
# Filter the DataFrame to include only the data in 2014
# start_date = pd.to_datetime('2015-01-01')
# end_date = pd.to_datetime('2015-11-30')
df_2015 = df[(df['start_time'] >= '2015-01-01') & (df['stop_time'] <= '2015-11-30')]

In [ ]:
#The stations in 2015
stations_2015 = df_2015['start_station_name'].nunique()
print(f"Number of stations in 2015: {stations_2015}")

#### Stations growth percentage

In [ ]:
stations_growth_2014 = (stations_2014-stations_2013)/stations_2013*100
# Round the result to two decimal places
stations_growth_2014 = round(stations_growth_2014, 2)

print(f"Growth of stations in 2014: {stations_growth_2014}%")

In [ ]:
stations_growth_2015 = (stations_2015-stations_2014)/stations_2014*100
# Round the result to two decimal places
stations_growth_2015 = round(stations_growth_2015, 2)

print(f"Growth of stations in 2015: {stations_growth_2015}%")

<div class="alert alert-block alert-info">
<img style="float: left" src="https://i.imgur.com/HVpiyd6.png[/img" width="60">
<b style = "font-family: Arial; font-size: 16px">Station:</b><p style = "font-family:Verdana; font-size:14px">Stations increased from 330 stations in 2013 to 344 stations in 2014 and by the end of November 2015, it reached 489 stations. The growth of stations in 2014 was 4.24%, and it drastically grew to 42.15% by the end of November 2015.</p>
</div>

#### Customer plan data

In [ ]:
df.info()

In [ ]:
df['customer_plan'].nunique

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">No data in the "Customer Plan" column so we drop it</p>
</div>

In [ ]:
df.drop(df[['customer_plan']],axis=1,inplace=True)

In [ ]:
df.head()

In [ ]:
df.info()

####  Missing values

In [ ]:
df.isna().mean()

In [ ]:
sns.set(style='whitegrid')

In [ ]:
sns.heatmap(df.isna(), yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
# Round the result to two decimal places
round(df['birth_year'].isna().mean()*100,2)

In [ ]:
# Total NaN in birth year
df['birth_year'].isna().sum()

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">Missing Value is 12.07% for customer with no birth year.</p> 
<p>5% to 20%: If the percentage of missing values falls in this range, it is considered a moderate amount of missing data. In such cases, we should carefully consider the potential impact of missing values on your analysis or modeling. We may consider various imputation techniques to handle missing data or explore the possibility of excluding rows or columns with a substantial number of missing values.</p>
<p>Leave the missing values as is, imputation using mean/median, imputation using mode, predictive modeling techniques to impute missing birth dates based on other available information, such as age, gender, or other relevant variables. Alternatively, you can consider categorizing the data into age groups instead of using specific birth dates or create a separate binary indicator column (e.g., "Birth_Year_Missing") to capture whether the birth date is missing or not.  </p>
</div>
</div>

# Handling missing Values

<span style ="font-family:Verdana; font-size:16px; text-align:justify">As the column is birth year, to know the exact year will determine the customers' age demography. Remember, for this case study we are in the year 2015.</span>

In [ ]:
df['birth_year'].head

In [ ]:
df['birth_year'].describe().transpose()

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">We can see that there is an entry of 1885, which could be an input error. Additionally, the data only provides the birth year without specifying the month or date.</p> 
</div>

In [ ]:
df['birth_year'].nunique()

In [ ]:
df['birth_year'].value_counts()

#### Create an age column

In [ ]:
df_1=df.copy()

In [ ]:
df_1.info()

In [ ]:
# Convert 'birth_year' column to datetime format
df_1['birth_year'] = pd.to_datetime(df['birth_year'], format='%Y')

# Calculate the age by subtracting 'birth_year' from 'date' and divide by 365.25
df_1['age'] = round((df_1['date'] - df_1['birth_year']) / pd.Timedelta(days=365.25),1)

In [ ]:
df_1.head()

In [ ]:
df_1.info()

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">All entries have 171,386 entries, but birth_year and sex have 150,698 entries each, this difference is due to the NaN values.</p>
</div>

In [ ]:
df_1['age'].describe().transpose()

In [ ]:
# Count the number of people with age >= 65 years and above
age_65_or_above = df_1[df_1['age'] >= 65].shape[0]

print("Number of people with age >= 65 years:", age_65_or_above)

In [ ]:
# Count the number of people with age >= 85 years and above
age_85_or_above = df_1[df_1['age'] >= 85].shape[0]

print("Number of people with age >= 85 years:", age_85_or_above)

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">There are 64 people who are above 85 years old. Susannah Mushatt Jones became the world's oldest living person when she celebrated her 116th birthday on July 6, 2015. The age restriction to participate is that you must be 16 years or older to obtain an annual membership or an access pass.</p>
<p style ="font-family:Verdana; font-size:14px; text-align:justify">In cases where there are NaN values for age, we will use the median age. Additionally, we will examine in detail any age entries above 110 years old.</p>
</div>

In [ ]:
# Count the number of people with age >= 110 years and above
age_110_or_above = df_1[df_1['age'] >= 110].shape[0]

print("Number of people with age >= 110 years:", age_110_or_above)

In [ ]:
df_clean_1=df_1.copy()

In [ ]:
df_clean_1.describe(include='all').transpose()

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">"There are two pieces of data that can be quickly identified as potential outliers without the need for using a boxplot. These data are trip duration and age, both of which have maximum values that can be considered impossible or illogical, with trip duration reaching ~28,886 minutes and age ~131 years old. Additionally, we will replace the NaN value in birth year with median.</p>
</div>

In [ ]:
df_clean_1.info()

In [ ]:
# Calculate the median of the non-missing 'birth_year' values
median_birth_year = df_clean_1['birth_year'].median()

# Fill NaN values in 'birth_year' column with the median value
df_clean_1['birth_year'].fillna(median_birth_year, inplace=True)

In [ ]:
df_clean_1['birth_year'].describe().transpose()

In [ ]:
df_clean_1['birth_year'].isna().sum()

In [ ]:
df_clean_1.info()

In [ ]:
# Filter the DataFrame to include only rows with age > 110
df_above_110 = df_clean_1[df_clean_1['age'] > 110]

df_above_110.info()

In [ ]:
# Filter the DataFrame to include only rows with age > 100
df_above_100 = df_clean_1[df_clean_1['age'] > 100]

# Get the unique 'birth_year' values from the filtered DataFrame
birth_years_above_100 = df_above_100['birth_year'].unique()

birth_years_above_100

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">We have decided to fix the year for ages above 100 years old, as we consider them to be incorrect inputs.</p>
</div>

In [ ]:
# Change 'birth_year' values of 1910 to 1990, 1899 to 1999, 1901 to 1991, 1900 to 1990, 
# 1885 to 1985 and 1913 to 1993
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1910, 'birth_year'] = '1990-01-01'
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1899, 'birth_year'] = '1999-01-01'
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1901, 'birth_year'] = '1991-01-01'
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1900, 'birth_year'] = '1990-01-01'
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1885, 'birth_year'] = '1985-01-01'
df_clean_1.loc[df_clean_1['birth_year'].dt.year == 1913, 'birth_year'] = '1993-01-01'

In [ ]:
# Calculate the age by subtracting 'birth_year' from 'date' and divide by 365.25
df_clean_1['age'] = round((df_clean_1['date'] - df_clean_1['birth_year']) / pd.Timedelta(days=365.25),1)

In [ ]:
df_clean_1['birth_year'].describe().transpose()

In [ ]:
df_clean_1['age'].describe().transpose()

# Duplicated data

In [ ]:
df_2 = df_clean_1.copy()

In [ ]:
df_2.duplicated().head()

In [ ]:
df_2.duplicated().mean()*100

In [ ]:
df_2[df_2.duplicated()].head()

<div class="alert alert-block alert-info">
<img style="float: left" src="https://i.imgur.com/HVpiyd6.png[/img" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">No duplicate data</p>
</div>

#### Trip Duration

In [ ]:
df_2['trip_duration'].describe().transpose()

In [ ]:
# Set the title for the box plot with an appropriate fontsize
plt.title('Trip Duration Box Plot', fontsize=16)

# Create the box plot for 'trip_duration' column 
sns.boxplot(x=df_2['trip_duration'], palette='magma')

In [ ]:
# Filter the DataFrame to include only rows with trip duration > 45 minutes 
df_above_45 = df_2[df_2['trip_duration'] > 45]

# Get the unique 'birth_year' values from the filtered DataFrame
df_above_45['trip_duration'].unique()

In [ ]:
# Get the unique 'birth_year' values from the filtered DataFrame
df_above_45['trip_duration'].count()

In [ ]:
len(df_2)

In [ ]:
# Get the total number of rows in the filtered DataFrame
Mean_df_above_45 = df_above_45['trip_duration'].count()/len(df_2)
Mean_df_above_45

# Pricing to understand context

<ul style ="font-family:Verdana; font-size:16px; text-align:justify">
    <li>Annual Citi Bike memberships cost \$149 (\$99 at launch) and provide members with an unlimited number of 45-minute rides.
<li>Rides longer than 45 minutes result in overage charges ranging from \$2.50 for an additional 25 minutes to more than \$9.00 for additional time.
<li>Seven-day passes are available for \$25 with similar trip time constraints.
<li>24-hour passes are available for \$9.95, both with similar trip time constraints.
<li>Bikes that are missing for longer than 24 hours can result in a /$1,200 fee (plus tax) charged to the account holder that took out the bike.
<li>New York City Housing Authority residents and credit union members qualify for discounted \$60 annual memberships.</ul>

<div class="alert alert-block alert-warning">
<img style="float: left" src="https://i.postimg.cc/kXz8cFqC/005-Img-Yellow-Notes-Draft-1-20220819.png" width="60">
<b style = "font-family: Arial; font-size: 16px">Note:</b><p style = "font-family:Verdana; font-size:14px">As seen in the trip duration data, bikes missing for longer than 24 hours can result in a fee. Based on the data, we calculate 24 hours x 60 minutes = 1,440 minutes. Therefore, we decided to drop trips with durations exceeding 1,440 minutes.<p>
</div>

In [ ]:
# Filter the DataFrame to include only rows with trip duration > 1440 minutes 
df_above_24h = df_2[df_2['trip_duration'] > 1440]

# Get the unique 'birth_year' values from the filtered DataFrame
df_above_24h['trip_duration'].nunique()

In [ ]:
df_2.drop(df_2[df_2['trip_duration'] > 1440].index, axis=0, inplace=True)

In [ ]:
df_2.describe(include='all').transpose()

# Combining with Neighborhood and Weather

#### Preparing the table to combine

In [ ]:
df_3=df_2.copy()

In [ ]:
# Create a client to access BigQuery
client = bigquery.Client()

# Define your SQL query
query = """
SELECT *
FROM `bigquery-public-data.geo_us_boundaries.zip_codes`
WHERE state_code = 'NY'
"""

# Execute the query
query_job = client.query(query)
iterator = query_job.result(timeout=30)
rows = list(iterator)

# Get the results as a pandas DataFrame
df_q = query_job.to_dataframe()

# Print the DataFrame
df_state_code = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))
df_state_code

In [ ]:
# Save the filtered DataFrame to a CSV file
df_state_code.to_csv('NYC_geo_2014_2015.csv', index=False)

In [ ]:
# Create a client to access BigQuery
client = bigquery.Client()

# Define your SQL query
query = """
SELECT *
FROM `bigquery-public-data.noaa_gsod.gsod20*`
WHERE
 -- This takes the weather data from one weather station
 wban = '94728' -- NEW YORK CENTRAL PARK
 -- Use data from 2014 and 2015
 AND year >= '2013-01-01' AND year <= '2015-11-30';
"""

# Execute the query
query_job = client.query(query)
iterator = query_job.result(timeout=30)
rows = list(iterator)

# Get the results as a pandas DataFrame
df_q = query_job.to_dataframe()

# Print the DataFrame
df_wea_ny = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))
df_wea_ny

In [ ]:
df_wea_ny['year'].value_counts

In [ ]:
# Save the filtered DataFrame to a CSV file
df_wea_ny.to_csv('NYC_wea_2014_2015.csv', index=False)

In [ ]:
df_3

#### Prepare the geo boundaries table

In [ ]:
df_state_code

#### Create data zip geometry

In [ ]:
import geopandas as gpd
from shapely import wkt

# Convert the 'zip_code_geom' column to Shapely geometries
df_state_code['geometry'] = df_state_code['zip_code_geom'].apply(wkt.loads)

# Create the GeoDataFrame from the DataFrame
gdf_state_code = gpd.GeoDataFrame(df_state_code, geometry='geometry')

gdf_state_code

#### Create geo start

In [ ]:
# Create GeoDataFrame from df_3 with latitude and longitude
gdf_3_start = gpd.GeoDataFrame(df_3, geometry=gpd.points_from_xy(df_3['start_station_longitude'], df_3['start_station_latitude']))
gdf_3_start

In [ ]:
# Perform spatial join
merged_gdf_start = gpd.sjoin(gdf_3_start, gdf_state_code, how='left', op='within')

In [ ]:
merged_gdf_start

In [ ]:
df_merged_1 = merged_gdf_start.copy()

In [ ]:
df_merged_1.columns.values

In [ ]:
# Assuming df is your DataFrame
columns_to_drop = ['index_right', 'city','county', 'state_fips_code', 'state_code', 'state_name',
       'fips_class_code', 'mtfcc_feature_class_code', 'functional_status',
       'area_land_meters', 'area_water_meters', 'internal_point_lat',
       'internal_point_lon', 'internal_point_geom']
df_merged_1 = df_merged_1.drop(columns=columns_to_drop)

In [ ]:
rename_column = {
    'zip_code':'zip_code_start',
    'geometry' : 'geometry_start',
    'zip_code_geom' : 'zip_code_geom_start'}

In [ ]:
df_merged_1.rename(columns=rename_column, inplace=True)

In [ ]:
df_merged_1.info()

In [ ]:
df_merged_1.isna().mean()

#### Create geo end

In [ ]:
# Create GeoDataFrame from df_3 with latitude and longitude
gdf_3_end = gpd.GeoDataFrame(df_merged_1, geometry=gpd.points_from_xy(df_3['end_station_longitude'], df_merged_1['end_station_latitude']))
gdf_3_end

In [ ]:
# Perform spatial join
merged_gdf_end = gpd.sjoin(gdf_3_end, gdf_state_code, how='left', op='within')

In [ ]:
df_merged_2 = merged_gdf_end.copy()
df_merged_2

In [ ]:
df_merged_2.columns.values

In [ ]:
# Assuming df is your DataFrame
columns_to_drop = ['index_right', 'city','county', 'state_fips_code', 'state_code', 'state_name',
       'fips_class_code', 'mtfcc_feature_class_code', 'functional_status',
       'area_land_meters', 'area_water_meters', 'internal_point_lat',
       'internal_point_lon', 'internal_point_geom']
df_merged_2 = df_merged_2.drop(columns=columns_to_drop)

In [ ]:
df_merged_2.columns.values

In [ ]:
rename_column = {
    'zip_code':'zip_code_end',
    'geometry': 'geometry_end', 
    'zip_code_geom':'zip_code_geom_end'}

In [ ]:
df_merged_2.rename(columns=rename_column, inplace=True)

In [ ]:
df_merged_2.info()

In [ ]:
df_merged_2.isna().mean()

In [ ]:
df_merged_3 = df_merged_2.dropna()

In [ ]:
df_merged_3.info()

# Merge to acquire neighborhood and borough

In [ ]:
# Create a client to access BigQuery
client = bigquery.Client()

# Define your SQL query
query = """
SELECT *
FROM `bigquery-public-data.new_york_taxi_trips.taxi_zone_geom`
"""

# Execute the query
query_job = client.query(query)
iterator = query_job.result(timeout=30)
rows = list(iterator)

# Get the results as a pandas DataFrame
df_q = query_job.to_dataframe()

# Print the DataFrame
df_boro_ny = pd.DataFrame(data=[list(x.values()) for x in rows], columns=list(rows[0].keys()))
df_boro_ny

#### Create data geometry for zone

In [ ]:
# Convert the 'zip_code_geom' column to Shapely geometries
df_boro_ny['geometry'] = df_boro_ny['zone_geom'].apply(wkt.loads)

# Create the GeoDataFrame from the DataFrame
gdf_boro_ny = gpd.GeoDataFrame(df_boro_ny, geometry='geometry')

gdf_boro_ny

#### Create neighborhood and borough start

In [ ]:
# Create GeoDataFrame from df_3 with latitude and longitude
gdf_merged_3_start = gpd.GeoDataFrame(df_merged_3, geometry=gpd.points_from_xy(df_merged_3['start_station_longitude'], df_merged_3['start_station_latitude']))
gdf_merged_3_start

In [ ]:
# Perform spatial join
merged_gdf_zone_start = gpd.sjoin(gdf_merged_3_start, gdf_boro_ny, how='left', op='within')

In [ ]:
df_merged_5 = merged_gdf_zone_start.copy()

In [ ]:
df_merged_5

In [ ]:
df_merged_5.columns.values

In [ ]:
# focus only to relevant data
columns_to_drop = ['index_right', 'zone_id']
df_merged_5 = df_merged_5.drop(columns=columns_to_drop)

In [ ]:
rename_column = {
    'zone_name':'neighborhood_start',
    'borough': 'borough_start'
    }

In [ ]:
df_merged_5.rename(columns=rename_column, inplace=True)

#### Create neighborhood and borough end

In [ ]:
# Create GeoDataFrame from df_3 with latitude and longitude
gdf_merged_3_end = gpd.GeoDataFrame(df_merged_5, geometry=gpd.points_from_xy(df_merged_5['end_station_longitude'], df_merged_5['end_station_latitude']))
gdf_merged_3_end

In [ ]:
# Perform spatial join
merged_gdf_zone_end = gpd.sjoin(gdf_merged_3_end, gdf_boro_ny, how='left', op='within')

In [ ]:
df_merged_6 = merged_gdf_zone_end.copy()

In [ ]:
df_merged_6

In [ ]:
df_merged_6.columns.values

In [ ]:
# focus only to relevant data
columns_to_drop = ['index_right', 'zone_id', 'zone_geom_right', 'zone_geom_left', 
                   'geometry_start','zip_code_geom_start', 'geometry_end',
                   'zip_code_geom_end','geometry']
df_merged_6 = df_merged_6.drop(columns=columns_to_drop)

In [ ]:
rename_column = {
    'zone_name':'neighborhood_end',
    'borough': 'borough_end'
    }

In [ ]:
df_merged_6.rename(columns=rename_column, inplace=True)

In [ ]:
df_merged_6.info()

In [ ]:
df_merged_6.isna().mean()

In [ ]:
df_merged_6.columns.values

In [ ]:
column_names = ['user_type', 'bike_id', 'neighborhood_start','borough_start', 'trip_duration', 
                'date', 'start_time','start_station_id', 'start_station_name', 
                'start_station_latitude', 'start_station_longitude', 'neighborhood_end',
                'borough_end', 'stop_time', 'end_station_id','end_station_name', 
                'end_station_latitude','end_station_longitude', 'birth_year', 'sex', 
                'age', 'zip_code_start', 'zip_code_end']

# Reorder the columns using `reindex()`
df_4 = df_merged_6.reindex(columns=column_names)

# Display the DataFrame with the updated column order
df_4.head()

In [ ]:
df_4.info()

# Combining with Weather

In [ ]:
df_wea_ny

In [ ]:
df_wea_ny.describe(include = 'all').transpose()

In [ ]:
df_wea_ny.columns.values

In [ ]:
df_wea_ny['da'].value_counts

In [ ]:
# focus only to relevant data
columns_to_drop = ['stn', 'wban','date', 'count_temp',
       'dewp', 'count_dewp', 'slp', 'count_slp', 'stp', 'count_stp',
       'visib', 'count_visib', 'count_wdsp', 'mxpsd', 'gust',
       'max', 'flag_max', 'min', 'flag_min', 'flag_prcp', 'sndp',]
df_wea_ny_1 = df_wea_ny.drop(columns=columns_to_drop)

In [ ]:
df_wea_ny_1.info()

In [ ]:
# Combine 'year', 'mo', and 'da' columns into a single string in the correct order
df_wea_ny_1['date'] = df_wea_ny_1['year'].astype(str) + df_wea_ny_1['mo'].astype(str).str.zfill(2) + df_wea_ny_1['da'].astype(str).str.zfill(2)

# Convert the combined 'date' column to datetime format
df_wea_ny_1['date'] = pd.to_datetime(df_wea_ny_1['date'], format='%Y%m%d', errors='coerce')

# Drop the original 'year', 'mo', and 'da' columns
df_wea_ny_1.drop(['year', 'mo', 'da'], axis=1, inplace=True)

In [ ]:
df_wea_ny_1

In [ ]:
df_merged_7 = pd.merge(df_4,df_wea_ny_1, on='date', how='outer')

In [ ]:
df_merged_7.head()

In [ ]:
df_merged_7.info()

In [ ]:
df_merged_7.isna().mean()

In [ ]:
df_merged_7.dropna(inplace=True)

In [ ]:
df_merged_7.isna().mean()

In [ ]:
df_merged_7.info()

# Final checkpoint

In [ ]:
df_merged_7.duplicated().unique()

In [ ]:
df_merged_7.duplicated().mean()*100

In [ ]:
# Assuming df is your DataFrame
df_merged_7.to_csv('nyc_citibike_trip_2014_2015_20230801_v1.csv', index=False)

In [ ]:
from IPython.display import display, HTML
# Link HTML files for pages
output_file_01 = "https://www.kaggle.com/code/wahyuardhitama/proj005-p02-nyc-citibike-20230802"
output_file_02 = "https://www.kaggle.com/code/wahyuardhitama/proj005-ml-models-p03-nyc-citibike-20230824"

# Display links to the saved HTML files
display(HTML(f"<p style='font-size: 18px;'>Go to <a href='{output_file_02}' target='_blank' style='font-size: 18px;'>P02 </a>or go to <a href='{output_file_03}' target='_blank' style='font-size: 18px;'>P03 </a></p>"))